html {
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
}
body {
  background-color: black;
  color: white;
  width: 100%;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: rgb(155, 247, 216);
}
a:hover {
  color: rgb(36, 188, 222);
}
/* HEAD STYLES */
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p {
  text-align: center;
}

/* TABLE STYLES */
table {
  font-family: monospace;
  margin: auto;
}
th,
td {
  border: 1px solid rgb(61, 61, 61);
  padding: 0.5rem 0.5rem;
  margin: auto;
  text-align: center;
}

th {
  font-size: larger;
  font-weight: 400;
  margin: auto;
  text-align: center;
  border: 1px solid rgb(61, 61, 61);
}
th[scope='col'] {
  padding: 1rem;
}

tr:nth-of-type(even) {
  background-color: #171717;
}
td.year-1 {
  background-color: rgb(41, 26, 252);
}
td.year-2 {
  background-color: rgb(26, 31, 188);
}
td.year-3 {
  background-color: rgb(24, 16, 143);
}
td.year-4 {
  background-color: rgb(15, 11, 96);
}
td.year-5 {
  background-color: rgb(0, 2, 50);
}

td.year-na {
  background-color: rgb(58, 58, 58);
}

th:hover,
tr:hover {
  opacity: 0.8;
}

/* INFO STYLES */

#explainer {
  margin: auto;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100%;
}
div.funfact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
p.blurb {
  margin: 1rem 0rem 1rem 0rem;
  font-size: large;
  max-width: 20rem;
}
h2.function {
  font-family: monospace;
  /* line-height: 100%; */
  margin: 0rem 0rem;
  padding: 0.75rem 1rem;
}

@media (min-width: 750px) {
  div.funfact {
    display: flex;
    flex-direction: row;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 1rem 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 1000ms;
}
@keyframes jump {
  from {
    transform: translateY(-10%);
    opacity: 1;
  }
  to {
    transform: translateY(14%);
    opacity: 0.1;
    font-size: larger;
    font-weight: 600;
  }
}

button.ascending:hover {
  color: greenyellow;
  animation: jump 1000ms ease-in-out 100ms 4 reverse;
}

button.descending:hover {
  color: orangered;
  animation: jump 1000ms ease-in-out 100ms 4;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
  height: 2.5rem; /* Footer height */
  font-size: small;
  color: gray;
}
